body {
  font-family: 'Arial';
  margin-left: 50px;
}

#connection-list ul {
  margin: 20px 0;
  width: 300px;
  height: 650px;
  overflow: scroll;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

#connection-list ul > li {
  list-style-type: none;
  margin: 5px 0;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.presence.offline {
  background: #999;
}

.presence.online {
  background: lightgreen;
}

.presence.away {
  background: yellow;
}

.presence {
  position: absolute;
  right: 0;
  width: 20px;
  height: 38px;
  top: -5px;
}

.user-id {
  font-size: .8em;
  color: lightgrey;
  position: absolute;
  right: 38px;
  top: 8px;
}

.avatar {
  margin: 2px;
  border-radius: 60px;
  background-color: #aaa;
  width: 29px;
  height: 22px;
  margin-right: 10px;
  margin-left: 5px;
  color: whitesmoke;
  padding: 7px 0 0 0;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}